{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="home d-flex">

    	<div class="text-area d-flex flex-column mt-4">
				<br/>
		<br/>
		<br/>
    			<div class="sub-title">Welcome {{user.username}}, to your profile</div>
    			<div class="sub-title">

    			</div>

    				<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    	</div>
    		<div class="image-box">
    				<img src="{% static 'images/profile.png' %}">
    		</div>
    </section>
{% endblock %}
