{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home d-flex">
    <div class="text-area d-flex flex-column justify-center">
        <h1>Login Form</h1>
        <form action="login" method="post">
            {% csrf_token %}

               Username<br/>
                <input type="text" class="form-text text-muted" name="username" placeholder="Username"/><br/>


               Password<br/>
                <input type="password" class="form-control" name="password" placeholder="Password"/><br/>

            <br/>
            <input class="btn btn-primary" type="submit" value="Login"/>

        </form>
    </div>
    <div class="image-area flex-centered">
        <div class="image-box">
            <img src="{% static 'images/1.png' %}">
        </div>
    </div>
</section>
{% endblock %}
