{% extends 'base.html' %}
{% load static %}{% load i18n %}


{% load quiz_tags %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}

<section class=" bradcam_area bradcam_bg_1">



    <h2 class="" style="color:white">{% trans "List of quizzes" %}</h2>
    {% if quiz_list %}


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="color:white">{% trans "Title" %}</th>
            <th scope="col" style="color:white">{% trans "Category" %}</th>
            <th scope="col" style="color:white">{% trans "Exam" %}</th>
            <th scope="col"style="color:white">{% trans "Single attempt" %}</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for quiz in quiz_list %}

        <tr>
            <td scope="col"style="color:white">{{ quiz.title }}</td>
            <td scope="col" style="color:white">{{ quiz.category }}</td>
            <td scope="col" style="color:white">{{ quiz.exam_paper }}</td>
            <td scope="col" style="color:white">{{ quiz.single_attempt }}</td>
            <td scope="col"style="color:white">
                            <a href="{% url 'quiz_start_page' slug=quiz.url %}" style="color:white">{% trans "View details" %}</a>
            </td>
        </tr>

        {% endfor %}
        </tbody>

    </table>

    {% else %}
    <p style="color:white">{% trans "There are no available quizzes" %}.</p>
    {% endif %}

</section>
{% endblock %}



