<footer class="d-flex dark-background">
	<div class="footer-col flex-one text-center">
		<div class="footer-item">Home</div>
		<div class="footer-item">About</div>
		<div class="footer-item">Services</div>
		<div class="footer-item">Contacts</div>
		<div class="footer-item">Products</div>
	</div>
	<div class="footer-col flex-one text-center">
		<div class="footer-item">How we work?</div>
		<div class="footer-item">FAQs</div>
		<div class="footer-item">Products</div>
	</div>
	<div class="footer-col flex-one text-center">
		<div class="footer-item">Facebook</div>
		<div class="footer-item">Twitter</div>
		<div class="footer-item">Instagram</div>
	</div>
</footer>