<nav>
    <div class="logo"></div>
    <div class="nav-items">
        <div class="nav-item">
            <a href="{% url 'index' %}" style="text-decoration: none;">Home</a>
        </div>
        <div class="nav-item"><a href="{% url 'about' %}" style="text-decoration: none;">About</a>
        </div>

        {% if user.is_authenticated %}
        <div class="nav-item">
            <a href="{% url 'quiz_index' %}" style="text-decoration: none;">Quizzes</a>

        </div>
        <div class="nav-item">
            <a href="{% url 'quiz_progress' %}" style="text-decoration: none;">Progress</a>

        </div>

        <div class="nav-item">
             <a href="{% url 'insideAuth' %}" style="text-decoration: none;">Dashboard</a>
            </div>


        {% else %}
        <div class="nav-item">
            Discussion
        </div>
        <div class="nav-item">
            BIM

        </div>

        <div class="nav-item">Contacts</div>
        {% endif %}


    </div>

</nav>