{% extends "base.html" %}
{% load i18n%}


{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

<section class="bradcam_area bradcam_bg_1">
<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">  {% if previous.answers %}</h3>
				<div class="row">
					<div class="col-md-3">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">


    <p class="muted"><small>{% trans "The previous question" %}:</small></p>
    <p>{{ previous.previous_question }}</p>

    {% if previous.previous_outcome %}
	<div class="alert alert-success"></div>
        {% else %}
        <div class="alert alert-warning">
            {% endif %}
            <p><small>
                {% trans "Your answer was" %} </small>
                <strong>
                    {{ previous.previous_outcome|yesno:"correct,incorrect" }}
                </strong>
            </p>

        </div>

        {% include 'correct_answer.html' %}

        <p><strong>{% trans "Explanation" %}:</strong></p>
        <div class="well " style="background-color: #fcf8e3;">
            <p>{{ previous.previous_question.explanation }}</p>
        </div>

        <hr>

        {% endif %}

        <br/>

        {% if question %}

        {% if progress %}
        <div style="float: right;">
          <h6>  {% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}</h6>
        </div>
        {% endif %}

        <p>
            <h5 class="muted" style="color:white">{% trans "Question category" %}:</h5>

            <u style="color:white">{{ question.category }}</u>
        </p>

        <h7 class="lead"  style="color:white">Q{{ progress.0|add:1 }}.
            {{ question.content }}</h7>

        {% if question.figure %}

        <img src="{{ question.figure.url }}" alt="{{ question.content }}"/>
        {% endif %}

        <form action="" method="POST">{% csrf_token %}
            <input type=hidden name="question_id" value="{{ question.id }}">

            <ul class="list-group">

                {% for answer in form.answers %}
                <li class="list-group-item">
                    {{ answer }}
                </li>
                {% endfor %}

            </ul>
            {% if progress.0|add:1 == progress.1 %}

			<div class="button-box d-flex w-100 justify-start">

                <input type="submit" class="genric-btn primary" value={% trans "Submit" %} />
            </div>

            {% else %}
            <div class="button-box d-flex w-100 justify-start">
                <input type="submit" class="genric-btn primary" value={% trans "Next" %} />
            </div>

            {% endif %}
        </form>

        {% endif %}

        <hr>

					</div>
				</div>
			</div>
		</div>
	</div>



</section>
{% endblock %}

