{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>About US</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="whole-wrap"style="background-color:lightblue"  align="center">
    <div class="container box_1170">
        <div class="section-top-border">
            <font face="Helvetica italic"><h1 class="mb-30">Get the Best for your Exams!!!</h1>
            <h2>EduBuzz the one place for all your solutions.</h2></font><br/>
                 <center>    <img src="{% static 'img/resources/k.jpg' %}" alt="" align="middle" width="150px"></center>

            <br/>

                <div class="col-md-9 mt-sm-20">

                    <font face="verdana">
                    <h4>At EduBuzz, we believe to provide interactive platform for our students to take valid quizzes so
                        as to enhance their mind capabilities. We strongly believe there is a dire need to revive the
                        quiz culture in colleges and technology can act as a facilitator by bringing innovation to
                        quizzes and ensuring active participation among students. Beside the obvious academic benefits
                        of expanding a student's knowledge and exploring new skills, quizzes help students in critical
                        thinking and extensive research.Students get into the habit of innovative learning. We are
                        obsessively passionate that Edubuzz enables our students to maximize their performance by
                        supporting the learning and compliance needs. Our purpose is not to assess learning but to give
                        learners a way to remember what they have learned. </h4></font>
                    <br/>
                    <h1>Meet our team!</h1><br/>
                    <center><img src="{% static 'img/resources/nccs.png' %}" alt="" align="middle" width="150px"></center><br/>
                   <h4>We have expertise and experience to help develop online quizzes which are valid, reliable and
                        fair. We provide our services to support better compliance and learning with development. Our
                        team has unparalleled expertise in helping students to make their assessment platform. That
                        means unlocking potential using online quizzes to support better compliance and needs.</h4>

                </div>
            </div>


    </div>
</div>

        <!--/ aboutus_area  -->


        <!--/ aboutus_area  -->
        {% endblock %}
