{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>BIM Resources</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whole-wrap">
		<div class="container box_1170">
            <div class="section-top-border">
				<h3>AIW Question Bank(Board)</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/1.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/1.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/2.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/2.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/3.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/3.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/4.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/4.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>

					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/5.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/5.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/6.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/6.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>

				</div>
            </div>
        </div>
 </div>
<!--java-->
<div class="whole-wrap">
		<div class="container box_1170">
            <div class="section-top-border">
				<h3>JAVA II Question Bank(Board)</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/1.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/1.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/2.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/2.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/3.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/3.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/4.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/4.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>

					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/5.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/5.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/6.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/6.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>

				</div>
            </div>
        </div>
 </div>

<!--cg-->
<div class="whole-wrap">
		<div class="container box_1170">
            <div class="section-top-border">
				<h3>Computer Graphics Question Bank(Board)</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/1.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/1.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/2.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/2.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/3.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/3.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/4.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/4.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>

					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/5.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/5.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'img/resources/aiw/6.jpg' %}" class="img-pop-up">
                                    <img src="{% static 'img/resources/aiw/6.jpg' %}" alt="" style="width:350px" vspace="50">
						</a>
					</div>

				</div>
            </div>
        </div>
 </div>
{% endblock %}
