:root{
		--primary-color:#4caf50;
		--accent-color:#4caf50;
		--light-color:white;

		--big-title-font:4rem;
		--title-font:1.6rem;
		--body-font-size:1rem;
		--primary-font-family:'Poppins', sans-serif;
		
		--padding-val:0 7.5vw;
		
		--danger-color:#f44336;
		--success-color:#4caf50;
		--warning:#ff9800;

		--box-shadow:2px 2px 8px rgba(0,0,0,0.12);
		--border-radius:5px;
};