{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="home d-flex">
    	<div class="text-area d-flex flex-column justify-center">	
    			<div class="title">Get the best</div>
    			<div class="title">for your exams</div>
    			<div class="sub-title">
    				EduBuzz the one place for all your solutions 
    			</div>
    			<div class="search-box">
    				<input type="search" placeholder="Enter subjects, faculty " name="search-term">
    				<a href="{% url 'browse' %}" class="btn btn-primary">Search</a>
    			</div>	
    	</div>
    	<div class="image-area flex-centered">	
    		<div class="image-box">	
    				<img src="{% static 'images/3.png' %}">
    		</div>
    	</div>	
    </section>
        <section class="courses d-flex flex-column">	
    		<div class="text-center title">Latest courses</div>
    		<div class="sub-title text-center">Here are some popular subjects from our site</div>
    		<div class="course-list d-flex flex-one ">	
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">AIW</div>
    						<div class="faculty sub-title ">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>	
    		</div>	
    </section>    
   <section class="advertisement  pb-5">	
    		<div class="banner-box d-flex">	
    			<img src="{% static 'images/house.jpeg' %}	">
    			<div class="banner-texts flex-one d-flex align-end justify-center text-right flex-column">	
    					<div class="banner title">
								Get the best from our site						
    					</div>
    					<div class="button-area w-100 d-flex justify-end">	
    					<button class="btn btn-light">Become a premium member</button>
    				</div>	
    			</div>	
    		</div>
    </section>
    <section class="courses d-flex flex-column">	
    		<div class="text-center title">Popular courses</div>
    		<div class="sub-title text-center">Here are some popular subjects from our site</div>
    		<div class="course-list d-flex flex-one ">	
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title ">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>

    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>

    						<div class="button-box">	
    								<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>	
    		</div>	
    </section>
{% endblock %}
