{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="quiz d-flex flex-column">
	<h1>Subject</h1>
	<div class="questions card ">
		<div class="question-box">
			<div class="question sub-title"> 1. Fullform of RIP. </div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Router Informed Protocol</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Router Information Protocol</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Routing Information Protocol</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) RAM Information Protocol</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 2. OSPF</div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Open Shortest Protocol Form</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Out Shortest Path First</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Open Shortest Path First</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Open Short Protocol First </label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 3. CBT </div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Core Based Tree</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Critical Bulb Time</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Center Base Term</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Core Base Theory</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 4. OSI </div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Open System Interconnection</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Open Source Interconnection</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Open System Intergrated</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Open Source Intermediate</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 5. PIM </div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Path Independent Multiport</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Protocol Independent Multicast</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Protocol Insert Multiport</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Path Independent Multicast</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 6. IS-IS</div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Insert System Insert System</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Internet System Internet System</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Intermediate  System Insert System</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Intergrated System Integrated System </label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 7. MOSPF </div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Multicast Open Shortest Path First</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Multiport Out Short Protocol Path First</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Multicast Out Short Protocol First</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Multi Open Short Path First</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 8. ATM </div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Asynchronous Transfer Mode</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Alter Transfer Model</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Asynchronous Transmit Mode</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Asynchronous Transmission Mode</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 9. RFC</div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Request for Comments</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Request for Core</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Routing for CenterBased</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Request for Command</label>
				</div>
			</div>
		</div>
		<div class="question-box">
			<div class="question sub-title"> 10. IGMP</div>
			<div class="options d-flex flex-wrap">
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>a) Internet Group Management Protocol</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>b) Interconnection Group Multiport Path</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>c) Important Group Multicast Path</label>
				</div>
				<div class="option min-w-50 d-flex align-center">
					<input type="radio" value="khai" name="">
					<label>d) Internet Group Management Protocol</label>
				</div>
			</div>
		</div>
	</div>
	<div class="button-box d-flex w-100 justify-end">
		<button class="btn btn-primary">Submit</btn>
	</div>
</section>
{% endblock %}