{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="subject d-flex">
	<div class="text-area d-flex flex-column justify-center">
		<div class="title">AIW</div>
		<div class="sub-title">Advanced Internet Working</div>
		<div class="sub-title"> BIM Semester: 5<sup>th</sup> </div>
		<div class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		</div>
		<div class="button-box">
			<a href="{% url 'login'  %}" class="btn btn-primary" >Start</a>
		</div>
	</div>
	<div class="image-area flex-centered">
		<div class="image-box">
			<img src="{% static 'images/2.png' %}">
		</div>
	</div>
</section>
<section class="courses d-flex flex-column">	
    		<div class="text-center title">Latest courses</div>
    		<div class="sub-title text-center">Here are some popular subjects from our site</div>
    		<div class="course-list d-flex flex-one ">	
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title ">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    							<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    							<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    							<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>
    				<div class="course card flex-one d-flex flex-column align-center">	
    						<div class="subject title flex-one flex-centered">Maths</div>
    						<div class="faculty sub-title">Faculty:BIM</div>
    						<div class="sub-title">1st semester</div>
    						<div class="button-box">	
    							<a href="{% url 'subject' 'hehe' %}" class="btn btn-primary">View More</a>
    						</div>
    				</div>	
    		</div>	
    </section>    
{% endblock %}